@use "fonts"
@use "utils" as utils

@tailwind base
@tailwind components
@tailwind utilities

@layer base
  html
    scroll-behavior: smooth

  body
    &.lock-scroll
      padding-right: var(--scrollbar-width, 0)
      overflow: hidden

    @apply bg-background text-foreground font-gothamPro

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  input[type=number]
    -moz-appearance: textfield

  @media (prefers-reduced-motion: reduce)
    *
      animation-duration: 0.01ms !important
      animation-iteration-count: 1 !important
      transition-duration: 0.01ms !important
      scroll-behavior: auto !important

@layer utilities
  .main-container
    display: grid
    grid-template-columns: utils.calc-clamp(0.75rem, 3rem, 640, 1536) [main-start] repeat(18, 1fr) [main-end] utils.calc-clamp(0.75rem, 3rem, 640, 1536)
    grid-auto-rows: max-content

  .max-container
    width: 100%
    max-width: 120rem
    margin-inline: auto

  .focus-guard
    position: absolute
    width: 0
    height: 0
    opacity: 0
