extends layouts/root.pug

include ../components/catalog-item

block content
  main(class="col-[main] grid grid-cols-subgrid ~pt-[8.375rem]/[14.5625rem]")
    section(class="col-span-full")
      h1(class="text-h1 font-bold ~mb-4/12") Каталог оригинальных запчастей
      div(class="grid grid-cols-[repeat(auto-fill,minmax(20rem,1fr))] gap-9")
        +catalog-item("#", "Бороны", "/assets/img/borons.webp", "Для безотвальной предпосевной и&nbsp;основной обработки почвы. Используются под зерновые, технические и&nbsp;кормовые культуры")
