extends layouts/root.pug

include ../components/catalog-item

block content
  main(class="col-[main] grid grid-cols-subgrid ~pt-[8.375rem]/[14.5625rem]")
    section(class="@container col-span-full")
      h1(class="text-h1 font-bold ~mb-4/12") Каталог оригинальных запчастей
      div(
        class="@[100.5rem]:grid-cols-[repeat(auto-fill,minmax(32rem,1fr))] @3xl:grid-cols-[repeat(auto-fill,minmax(24rem,1fr))] grid ~gap-6/9"
      )
        +catalog-item("#", "Бороны", "/assets/img/borons.webp", "Для безотвальной предпосевной и&nbsp;основной обработки почвы. Используются под зерновые, технические и&nbsp;кормовые культуры")
        +catalog-item("#", "Сеялки", "/assets/img/seyalks.webp", "Cовременные сельскохозяйственные машины с высокими эксплуатационными возможностями.")
        +catalog-item("#", "Плуги", "/assets/img/plygs.webp", "Плуги для гладкой вспашки без свальных гребней и развальных борозд.")
        +catalog-item("#", "Культваторы", "/assets/img/cultivations.webp", "Используется для ранней предпосевной обработки, уничтожения сорняков, заделки удобрений и пожнивных остатков")
        +catalog-item("#", "Катки", "/assets/img/catkies.webp", "Используется для ранней предпосевной обработки, уничтожения сорняков, заделки удобрений и пожнивных остатков")
