mixin button(variant="default", asLink=false)
  if asLink == true
    a(
      class="inline-flex h-12 items-center justify-center px-12 font-bold disabled:bg-card disabled:text-description",
      class={"bg-primary": variant == "default", "border-2 border-primary": variant == "outline"}
    )&attributes(attributes)
      block
  else
    button(
      class="inline-flex h-12 items-center justify-center px-12 font-bold disabled:bg-card disabled:text-description",
      class={"bg-primary": variant == "default", "border-2 border-primary": variant == "outline"}
    )&attributes(attributes)
      block
