mixin button(variant="default")
  - var baseClasses = "px-12 inline-flex h-12 items-center justify-center font-bold";
  - var classVariants = { variant: { default: " bg-primary", outline: " border-2 border-primary" } };
  button(class=baseClasses+classVariants.variant[variant])&attributes(attributes)
    block
